body {
    font-family: 'Lato', sans-serif;
    background-color: #000000;
}

html, body {
    height: 100%;
    margin: 0px;
}

hr {
    display: block;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #5bc0de;
}

/*Carousel Section*/

.carousel-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1px;
}

.carousel-subtitle {
    font-size: 25px;
    text-align: center;
    letter-spacing: normal;
}

/*About Section*/

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

p, .row {
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: justify;
}

@media screen and (max-width: 600px) {
.text-sm {
    font-size: 14px;
    line-height: 24px;}
}
    
@media screen and (min-width: 601px) {
.text-sm {
    font-size: 16px;
    line-height: 30px;}
}

@media screen and (max-width: 600px) {
.title-lg {
    font-size: 18pt;}
}

@media screen and (min-width: 601px) {
.title-lg {
    font-size: 22pt;}
}

/*Card Section*/

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.card-title {
    color: white;
    text-shadow: 3px 3px 5px #000000;
}